*{
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}



#HEADER {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.topnav {
    float: right;
    padding: 33px;
    margin-left: auto;
}


.topnav a {
    float: left;
    color: #f4f4f4;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 14px;
}


.topnav a:hover {
    color: #00AEEF;
}

.cover-img {
    height: 352px;
    object-fit: cover;
    object-position: 50% 50%;
    align-items: center;
    width:100%;
}

h3 {

    line-height: 1.6em;
    position: absolute;
    top: 130px;
    font-weight: bold;
    color: #f4f4f4;
    letter-spacing: 0em;
    vertical-align: baseline;
    font-family: HelveticaNeue, Helvetica Neue, helvetica, Sans-Serif;
}

.main-idea {
    font-size: 28px;
    line-height: 1.6em;
    color: #F4F4F4;
    max-width: 700px;
    min-width: 700px;
    height: 400px;
    align-items: center;


}

.second-background {
    background-color: #302e2e;
}




.container {
    display: flex;
    color: #F4F4F4;
    flex-direction: column;
    justify-content: center;
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.top-container-item1 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.top-container-item2 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.top-container-item3 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.items-img {
    width: 300px;
}

.container-link {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.center-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.center-container-item1 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.center-container-item2 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);

}

.center-container-item3 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);

}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.bottom-container-item1 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.bottom-container-item2 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.bottom-container-item3 {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.arrow {
    height: 34px;
    width: 18px;
    background-color: #00AEEF;
}

.carousel-item {
    background: #302e2e;
}

.row {
    width: 1080px;
    height: 363px;
    align-items: center;
}

.competitor-logo {
    align-items: center;
    padding: 50px;
}

.carousel-indicators li {
    background: #000;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.frequently-asked {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.frequently-asked>h2 {
    color: rgb(244, 244, 244);
    font-size: 24px;
    padding-bottom: 30px;
}

.questions-title {
    background-color: rgb(22, 22, 22);
    color: rgb(244, 244, 244);
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions-title i {
    font-size: 15px;
    color: rgba(244, 244, 244, 0.822);
    font-weight: lighter;

}

.answer {
    max-height: 0;
    overflow: hidden;
}

.questions {
    max-width: 700px;
    min-width: 700px;
    border-bottom: 1px solid;
    border-color: rgba(244, 244, 244, 0.13);
    padding-top: 20px;
    padding-bottom: 5px;
}

.answer p {
    padding-top: 10px;
    line-height: 25px;
    color: rgb(244, 244, 244);
    font-size: 14px;
    line-height: 25px;

}

.active .answer {
    max-height: 800px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(26,30,31);
}

.socialIcons{
    width: 39px; 
    height: 39px; 
    object-fit: cover;
    display: flex;
    flex-direction: row;
}

.footertbclogo img{
    width: 106px; 
    height: 30px; 
    object-fit: cover; 
    object-position: 50% 50%;
    
}

.footertbclogo{
    padding-top: 20px;
    padding-bottom: 20px;
}

.copy{
    font-size:14px;
    color: rgb(244, 244, 244);
}

.rights a{
    color: rgb(244, 244, 244);
}

.footerbutton button {
    background-color: #00AEEF;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 25px;
}

.footerbutton a{
    color:#F4F4F4;
    font-size: 14px;
}

.firstcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondcolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}