* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    margin: auto;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.tbcxacademy-logo {
    width: 182px;
    height: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(27, 31, 32);
    height: 78px;
}

.nav-links {
    display: flex;
    gap: 40px;
    padding: 0px 30px;
    font-size: 14px;
}

.nav-links a {
    text-decoration: none;
    color: #f4f4f4;
}

.nav-links a:hover {
    color: #00AEEF;
    transition-duration: 0.4s ;
}

.cover-title {
    line-height: 1.6em;
    color: #f4f4f4;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 0px;
    display: block;
    background-image: url(./img/cover.png);
    background-size: cover;
    padding: 100px 50px;
    
}

.main-idea{
    max-width: 100%;
    max-height: 460px;  
    align-items: center;
    background-color: #302e2e;
    padding: 40px 30px;
}

.text{
    font-size: 26px;
    line-height: 1.6em;
    color: #F4F4F4;
    max-width: 900px;
    min-width: 900px;
}

.read-more {
    font-size: 18px;
    font-weight: 700;
    color: #00AEEF;
}

.read-more:hover{
    color: #969191;
    transition: 0.4s;
}

.courses-title{
    color: #DBDBDB;
    letter-spacing:normal;
    font-size: 22px;
    line-height: normal;
    padding: 30px 30px 50px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    max-width: 1000px;
    padding-bottom: 60px;
}

.items-img {
    width: 100%;
}

.mini-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.course-name{
    color: #F4F4F4;
    font-size: 20px; 
    padding: 30px 0 30px 20px;  
}

.registration-status{
    color: #F4F4F4;
    font-size: 14px;
    padding: 0 0 100px 20px;
}

.container-link div{
    color: #00AEEF;
    font-size: 16px;
    padding: 10px 0 20px 20px;
}

.container-link a {
    text-decoration: none;
    color: #00AEEF;
}

.ri-arrow-right-line{
    font-size: 22px;
}

.carousel-title{
    color: #F4F4F4;
    
}
  
.arrow {
    height: 34px;
    width: 18px;
}

.carousel-item {
    background: #302e2e;
}

.row {
    width: 1080px;
    height: 363px;
    align-items: center;
    
}

.competitor-logo {
    align-items: center;
    padding: 50px;
    
}

.carousel-indicators li {
    background: #000;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    
}

.frequently-asked {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.frequently-asked>h2 {
    color: rgb(244, 244, 244);
    font-size: 24px;
    padding: 30px 30px;
}

.questions-title {
    background-color: rgb(22, 22, 22);
    color: rgb(244, 244, 244);
    cursor: pointer;
    font-size: 18px;
    outline: none;
    transition: 0.4s;
    padding-bottom: 20px;
    margin: 10px;
}

.ri-arrow-down-s-line{
    font-size: 15px;
    color: rgba(244, 244, 244, 0.822);
    font-weight: lighter;
    
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.questions {
    max-width: 1000px;
    min-width: 1000px;
    border-bottom: 1px solid;
    border-color: rgba(244, 244, 244, 0.13);
    padding-top: 20px;
    padding-bottom: 5px;
    margin-left: 30px;
}

.answer p {
    padding-top: 10px;
    line-height: 25px;
    color: rgb(244, 244, 244);
    font-size: 14px;
    line-height: 25px;

}

.active .answer {
    max-height: 800px;
}

footer{
    background-color: rgb(27, 31, 32);
    margin-top: 100px;
    height: 230px;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;
}

.tbc-logo{
    width: 106px;
    height: 30px;
}

.copy{
    color: #f4f4f4;
    font-size:14px;
}

.rights a{
    color: #f4f4f4;
    font-size:14px;
    text-decoration: none;
}

.rights a:hover{
    color: #969191;
    transition: 0.4s;
}

.footer-button button{
    height: 39px;
    width: 162px;
    border: none;
    border-radius: 5px;
    background-color: #00AEEF;
}

.footer-button a{
    text-decoration: none;
    color: #f4f4f4;
}

.footer-button a:hover{
    color: #302e2e;
}

.footer-button button:hover{
    color: #969191;
}


/* .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(26,30,31);
    width: 100%;
    height: 230px;
    padding: 50px 100px;
}

.social-icons{
    width: 45px; 
    height: 45px; 
    
}

.footer-logo img{
    width: 106px; 
    height: 30px;  
}

 .footer-logo{
    padding-top: 20px;
    padding-bottom: 20px;
}

.copy{
    font-size:14px;
    color: rgb(244, 244, 244);
}

.rights a{
    color: rgb(244, 244, 244);
}

.footer-button button {
    background-color: #00AEEF;
    border-radius: 5px;
    border-style: none;
    width: 100px;
    height: 25px;
}

.footer-button a{
    color:#F4F4F4;
    font-size: 14px;
} 

 .first-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  */