body {
    background-color: rgb(22, 22, 22);
    margin: auto;
    font-family: "Noto Sans Georgian", sans-serif;
    box-sizing: border-box;
}

.header-container {
    background-color: rgb(27, 31, 32);
    height: 78px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 980px;
    max-width: 100%;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.tbcxacademy-logo {
    width: 182px;
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 40px;
    font-size: 14px;
}

.nav-links a {
    text-decoration: none;
    color: #f4f4f4;

    :hover {
        color: #00aeef;
        transition-duration: 0.4s;
    }
}

.slider-nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 100px;
}

.slider-nav-links a {
    text-decoration: none;
    color: #f4f4f4;

    :hover {
        color: #00aeef;
        transition-duration: 0.4s;
    }
}

.main {
    margin-top: 78px;
}

.cover {
    background-image: url(https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1501,h_352,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg);
    background-size: cover;
    height: 350px;
    background-position: center;
}

.cover-title {
    line-height: 1.6em;
    color: #f4f4f4;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 0px;
    display: block;
    max-width: 980px;
    margin: auto;
    padding-top: 100px;
}

.main-idea {
    max-width: 100%;
    max-height: 460px;
    align-items: center;
    background-color: #302e2e;
    padding: 40px 30px;
}

.text {
    font-size: 26px;
    line-height: 1.6em;
    color: #f4f4f4;
    width: 980px;
    margin: auto;
}

.read-more {
    font-size: 18px;
    font-weight: 700;
    color: #00aeef;

    :hover {
        color: #969191;
        transition: 0.4s;
    }
}

.courses-title {
    color: #dbdbdb;
    letter-spacing: normal;
    font-size: 22px;
    line-height: normal;
    padding: 30px 0 50px;
    width: 980px;
    margin: auto;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 20px;
    max-width: 980px;
    padding-bottom: 60px;
    margin: auto;
}

.mini-container {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    border-color: rgb(85, 85, 85);
    width: 300px;
    height: 414px;
    background-color: rgb(22, 22, 22);
}

.items-img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.course-name {
    color: #f4f4f4;
    font-size: 20px;
    padding: 30px 0 30px 20px;
}

.registration-status {
    color: #f4f4f4;
    font-size: 14px;
    padding: 0 0 100px 20px;
}

.item5 .registration-status {
    padding: 0 0 80px 20px;
}

.item9 .registration-status {
    padding: 0 0 80px 20px;
}

.container-link div {
    color: #00aeef;
    font-size: 16px;
    padding: 10px 0 20px 20px;
}

.ri-arrow-right-line {
    font-size: 22px;
}

.container-link a {
    text-decoration: none;
    color: #00aeef;
}

.carousel-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    background: #302e2e;
    height: 363px;
}

.carousel {
    height: 100%;
    margin: auto auto;
}

.carousel-title {
    color: #f4f4f4;
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 50px;
    max-width: 980px;
    margin: auto;
}

.carousel-item {
    display: none;
    margin: auto;
    transition: 2s;
    width: 1080px;
    align-items: center;
    height: 200px;

    transition: 2.6s ease;
}

.competitor-logo {
    display: inline-block;
    align-items: center;
    padding: 50px;
}

.last-item {
    max-width: 980px;
    margin: auto;
    margin-left: 380px;
}

img {
    vertical-align: middle;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    max-width: 980px;
    color: white;
    font-size: 50px;
    user-select: none;
}

.prev i:hover,
.next i:hover {
    color: rgba(158, 158, 158, 0.8);
}

.next {
    right: 0;
}

.dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.frequently-asked {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 920px;
    margin: auto;
}

.faq-title {
    display: flex;
    flex-direction: row;
    padding: 100px 0 20px;
    justify-content: space-between;

    :hover {
        color: #969191;
        transition: 0.4s;
    }
}

.frequently-asked>h2 {
    color: rgb(244, 244, 244);
    font-size: 24px;
}

.frequently-asked a {
    color: #00aeef;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.faq-link-botom {
    display: none;
}

.questions {
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(244, 244, 244, 0.13);
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100px;
}

.questions-title {
    background-color: rgb(22, 22, 22);
    color: rgb(244, 244, 244);
    cursor: pointer;
    font-size: 18px;
    outline: none;
    transition: 0.4s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.ri-arrow-down-s-line {
    font-size: 15px;
    color: rgba(244, 244, 244, 0.822);
    font-weight: lighter;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s;
}

.answer p {
    padding-top: 10px;
    line-height: 25px;
    color: rgb(244, 244, 244);
    font-size: 14px;
    line-height: 25px;
}

.active .answer {
    max-height: 800px;
    transition: 0.4s;
}

.footer-container {
    background-color: rgb(27, 31, 32);
    margin-top: 80px;
    height: 230px;
}

.footer {
    padding: 60px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 980px;
    margin: auto;
}

.tbc-logo {
    width: 106px;
    height: 30px;
}

.soc-net {
    display: flex;
    justify-self: end;
}

.social-links {
    display: flex;
    height: 50px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #aca3a3;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(27, 31, 32);
    font-size: 28px;
    text-decoration: none;
}

.copyright,
a {
    font-size: 14px;
    color: rgb(244, 244, 244);
    grid-column: 1/-1;

    :hover {
        text-decoration: none;
    }
}

.terms span {
    color: rgb(244, 244, 244);
    font-size: 14px;
    height: 40px;
    line-height: 70px;
}

.contact-us {
    display: flex;
    justify-self: end;
    padding-top: 20px;
}

.contact-us a {
    display: inline-block;
    background-color: #00aeef;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    height: 40px;
    width: 160px;
    text-align: center;
    line-height: 38px;
    color: #f4f4f4;
    text-decoration: none;
    transition: 0.4s;
    font-size: 16px;

    :hover {
        background-color: #aca3a3;
        color: #302e2e;
    }
}

.menu-btn {
    display: none;
    margin-right: 10px;
    margin-top: 25px;
    height: 30px;
    width: 30px;
}

.menu-close-btn {
    margin-right: 10px;
    margin-top: 25px;
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-left: auto;
}

.menu-close-btn::before,
.menu-close-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #514e4e;
    top: 50%;
    transform-origin: 50% 50%;
}

.menu-close-btn::before {
    transform: rotate(45deg);
}

.menu-close-btn::after {
    transform: rotate(-45deg);
}

.slider-header {
    display: none;
    position: fixed;
    background-color: #302e2e;
    height: 100%;
    width: 60%;
    right: 0;
    top: 0;
    z-index: 999;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

.navicon:before,
.navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.navicon:before {
    top: 5px;
}

.navicon:after {
    top: -5px;
}

@media (max-width: 768px) {
    .cover-title {
        padding-top: 75px;
        padding-left: 30px;
        font-size: 32px;
    }

    .navbar {
        width: 100%;
    }

    .nav-links {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

    .text {
        font-size: 18px;
        width: 95%;
        margin: inherit;
    }

    .courses-title {
        width: 90%;
        padding-left: 30px;
    }

    .cards-container {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 30px;
    }

    .mini-container {
        margin: auto;
        height: 340px;
        width: 90%;
    }

    .registration-status {
        padding: 0 0 20px 20px;
    }

    .item5 .registration-status {
        padding: 0 0 20px 20px;
    }

    .item9 .registration-status {
        padding: 0 0 20px 20px;
    }

    .carousel-container {
        height: 600px;
    }

    .carousel-item {
        width: 100%;
        height: 450px;
    }

    .next,
    .prev {
        display: none;
    }

    .frequently-asked {
        width: 90%;
    }

    .frequently-asked a {
        color: #00aeef;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    .faq-link-top {
        display: none;
    }

    .faq-link {
        text-align: center;
    }

    .faq-link-bottom {
        display: block;
        margin-top: 35px;
    }

    .footer {
        padding: 0;
        width: 85%;
    }

    .tbc-logo {
        grid-row: 1;
        padding-top: 20px;
    }

    .contact-us {
        grid-row: 2;
        grid-column: 1;
        padding-top: 20px;
        justify-self: left;
    }

    .soc-net {
        grid-row: 2;
        grid-column: 2;
        padding-top: 20px;
    }

    .terms {
        grid-row: 3;
    }

    .copyright {
        grid-row: 4;
    }

    .last-item {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .cover {
        height: 300px;
    }

    .courses-title {
        font-size: 35px;
    }

    .cards-container {
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }

    .items-img {
        height: 50%;
    }

    .carousel-title {
        padding-left: 30px;
    }

    .carousel-itemr {
        text-align: center;

    }

}